*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #01020a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.30);
    width: 400px;
}

.header{
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
}

h1 span {
    color: #e5b061;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid gray;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form #submit{
    background-color: #e5b061;
    border: 2px solid #e5b061;
    border-radius: 4px;
    color: #000;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

